body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.781));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

header {
    text-align: center;
    font-size: 4em;
    text-shadow: 0 0 6px white;
    padding: 30px;
}

.calculator {
    padding: 20px;
    margin: auto;
    width: 320px;
}

.display {
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.5em;
    padding: 10px 10px 5px 0;
    width: 270px;
    margin: 0;
    height: 50px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}

button{
    cursor: pointer;
    font-size: 1.5em;
    width: 70px;
    height: 70px;
    border: solid .1px rgba(0, 0, 0, 0.397);
}

button.num, .dot {
    background-color: white;
}

button.operation {
    background-color: orange;
}

button.res {
    background-color: steelblue;
    border-bottom-right-radius: 8px;
}

button.clear {
    background-color: rgb(226, 51, 51);
}

.c, .zero {
    width: 140px;
}

.zero {
    border-bottom-left-radius: 8px;
}

button:hover{
    opacity: .5;
}

footer {
    font-style: italic;
    text-align: center;
    padding: 20px;
}